In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
#Olx, cardekho, Cars24

In [409]:
#cardekho
driver = webdriver.Chrome("chromedriver.exe")
url = "https://www.cardekho.com/usedCars"
driver.get(url)

In [34]:
city_search_bar = driver.find_element_by_xpath("//div[@class = 'ReactTypeahead  inputfield gs_ta customSelect active']//input")

In [35]:
city_search_bar.send_keys("Delhi ncr")

In [36]:
search_button = driver.find_element_by_xpath("//button[@class = 'button']")

In [37]:
search_button.click()

In [50]:
cars_urls = []
cars_url = driver.find_elements_by_xpath("//div[@class = 'gsc_col-xs-7 carsName']//a")
for urls in cars_url:
    cars_urls.append(urls.get_attribute('href'))

In [51]:
len(cars_urls)

3026

In [52]:
#important attributes
#Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location ,Price of the car

In [53]:
brands = []                   #Brands of the car
models = []                   #Models of the car
variants = []                 #Variants of the car
kms = []                      #driven kilometers of car
location = []                 #location of the seller
fuel = []                     # Fuel type of the car
transimission = []            #tranmission of the car
manufacture_year = []         #manufacturing year of the car
number_of_owners =[]          #number prior of owners
price = []                    #price of the car

In [54]:
#brand 
try:
    all_brands = driver.find_elements_by_xpath("//div[@class = 'gsc_col-xs-7 carsName']//a")

    for i in all_brands:
        brands.append(i.text)

except NoSuchElementException:
    brands.append('NaN')
    
#model 
try:
    all_model = driver.find_elements_by_xpath("//div[@class = 'gsc_col-xs-7 carsName']//a")

    for i in all_model:
        models.append(i.text)
except NoSuchElementException:
    model.append('NaN')
    
    
#variants
try:
    all_variants = driver.find_elements_by_xpath("//div[@class = 'gsc_col-xs-7 carsName']//div[1]")

    for i in all_variants:
        variants.append(i.text)

except NoSuchElementException:
    variants.append('NaN')

    
#driven kms
try:    
    driven_kms = driver.find_elements_by_xpath("//div[@class = 'gsc_col-xs-7 carsName']//div[@class = 'truncate dotlist']//span[1]")

    for i in driven_kms:
        kms.append(i.text)
        
except NoSuchElementException:
    kms.append('NaN')
    

try:
    
    locations = driver.find_elements_by_xpath("//div[@class = 'cityIcon']")
    for i in locations:
        
        location.append(i.text)
        
except NoSuchElementException:
    
    location.append('NaN')
    
    
#fuel

try:
    fuel_type = driver.find_elements_by_xpath("//div[@class = 'gsc_col-xs-7 carsName']//div[@class = 'truncate dotlist']//span[2]")

    for i in fuel_type:
        fuel.append(i.text)
        
except NoSuchElementException:
    
    fuel.append('NaN')
    
#transmission
try:
    
    transmission_type = driver.find_elements_by_xpath("//div[@class = 'gsc_col-xs-7 carsName']//div[@class = 'truncate dotlist']//span[3]")

    for i in transmission_type:
        transimission.append(i.text)

except NoSuchElementException:
    transmission.append('NaN')

In [410]:
#scrapping the atrributes (manufacture_year,number_of_owners,price)
for url in cars_urls:
    driver.get(url)
    time.sleep(1)
    

    try:
        man_year = driver.find_element_by_xpath("//div[@class = 'gsc_col-xs-12']//ul//li[1]//div//div[2]")

        manufacture_year.append(man_year.text)   #Date
        
    except:
        
        try:
            
            year1 = driver.find_element_by_xpath("//div[@class = 'GenDetailBox']//ul//li[1]//div//div")
            manufacture_year.append(year1.text)
    
        except NoSuchElementException:
                      
            manufacture_year.append('NaN')

    #number_of_owners

    try:
        owners = driver.find_element_by_xpath("//div[@class = 'gsc_col-xs-12']//ul//li[6]//div//div[2]")
        
        number_of_owners.append(owners.text)
    
    except:
        
        try:
            owner2 = driver.find_element_by_xpath("//div[@class = 'GenDetailBox']//ul//li[4]//div//div")
            
            number_of_owners.append(owner2.text)

        except NoSuchElementException:
               
            number_of_owners.append('NaN')


    #price        

    try:
        cost = driver.find_element_by_xpath("//div[@class = 'left-side gsc_col-xs-7']//div[1]//span[2]")
        
        price.append(cost.text)   #price
        
    except:
        
        try:
            
            cost1 = driver.find_element_by_xpath("//span[@class = 'pricewrapper posR']//span[@class = 'amount']")
            price.append(cost1.text)
    
        except NoSuchElementException:
                        
            price.append('NaN')

## Cars24

In [174]:
#empty list of all the attributes
brands24 = []                   #Brands of the car
models24 = []                   #Models of the car
variants24 = []                 #Variants of the car
kms24 = []                      #driven kilometers of car
fuel24 = []                     # Fuel type of the car
transimission24 = []            #tranmission of the car
manufacture_year24 = []         #manufacturing year of the car
number_of_owners24 =[]          #number prior of owners
price24 = []                    #price of the car
location24 = []                 #location of the seller

In [411]:
#loading the website and creating driver
driver1 = webdriver.Chrome("chromedriver.exe")
url = "https://www.cars24.com/buy-used-cars-new-delhi/?itm_source=Cars24Website&itm_medium=sticky_header"
driver1.get(url)

In [169]:
#links of all the cars
cars24_urls = []
cars24_url = driver1.find_elements_by_xpath("//div[@class = 'row']//div[@class = 'col-4']//a")
for urls in cars24_url:
    cars24_urls.append(urls.get_attribute('href'))

In [412]:
#Scrapping the attributes

In [175]:
#brand 
try:
    all_brands = driver1.find_elements_by_xpath("//div[@class = '_15rKe']//div//h2")

    for i in all_brands:
        brands24.append(i.text)

except NoSuchElementException:
    brands24.append('NaN')
    
#model 
try:
    all_model = driver1.find_elements_by_xpath("//div[@class = '_15rKe']//div//h2")

    for i in all_model:
        models24.append(i.text)
except NoSuchElementException:
    model24.append('NaN')
    
    
#variants
try:
    all_variants = driver1.find_elements_by_xpath("//div[@class = '_15rKe']//div//p")

    for i in all_variants:
        variants24.append(i.text)

except NoSuchElementException:
    variants24.append('NaN')

    
#driven kms
try:    
    driven_kms = driver1.find_elements_by_xpath("//div[@class = '_1l4fi']//ul//li[1]")

    for i in driven_kms:
        kms24.append(i.text)
        
except NoSuchElementException:
    kms24.append('NaN')
    
#owner
try:
    
    number_of_owner = driver1.find_elements_by_xpath("//div[@class = '_1l4fi']//ul//li[2]")
    for i in number_of_owner:
        
        number_of_owners24.append(i.text)
        
except NoSuchElementException:
    
    number_of_owners24.append('NaN')
    
    
#fuel

try:
    fuel_type = driver1.find_elements_by_xpath("//div[@class = '_1l4fi']//ul//li[3]")

    for i in fuel_type:
        fuel24.append(i.text)
        
except NoSuchElementException:
    
    fuel24.append('NaN')
    
#Price    
    
try:
    
    cost = driver1.find_elements_by_xpath("//div[@class = '_19zc5']//div[2]//span")

    for i in cost:
        price24.append(i.text)

except NoSuchElementException:
    
    price24.append('NaN')

In [242]:
transimission24 = []            #tranmission of the car
manufacture_year24 = []         #manufacturing year of the car
location24 = []                 #location of the seller

In [414]:
#scrapping transmission, year of purchase and location

for link in cars24_urls:
    driver1.get(link)
    time.sleep(1)
    try:
        
        trans = driver1.find_element_by_xpath("//div[@class = 'DB7s9']//ul//li[5]//label")
        trans2 = driver1.find_element_by_xpath("//div[@class = 'DB7s9']//ul//li[5]//strong")
        if trans.text == 'Transmission':
            transimission24.append(trans2.text)   #Date
        else :
            trans3 = driver1.find_element_by_xpath("//div[@class = 'DB7s9']//ul//li[6]//strong")
            transimission24.append(trans3.text)

    except NoSuchElementException:

        transimission24.append('NaN')


    #Year of purchase

    try:
        year = driver1.find_element_by_xpath("//div[@class = 'DB7s9']//ul//li[8]//label")
        year2 = driver1.find_element_by_xpath("//div[@class = 'DB7s9']//ul//li[8]//strong")
        if year.text == 'Year of Purchase':
            manufacture_year24.append(year2.text)   #Date
        else :
            year3 = driver1.find_element_by_xpath("//div[@class = 'DB7s9']//ul//li[9]//strong")
            manufacture_year24.append(year3.text)

    except NoSuchElementException:

        manufacture_year24.append('NaN')


    #location

    try:
        location = driver1.find_element_by_xpath("//div[@class = 'col-md-5 col-lg-5']//p//span")
        location24.append(location.text)

    except NoSuchElementException:
        location24.append('NaN')

## olx used cars

In [415]:
#cardekho
driver2 = webdriver.Chrome("chromedriver.exe")
url = "https://www.olx.in/delhi_g4058659/cars_c84"
driver2.get(url)

In [250]:
#links of all the cars
olx_urls = []
olx_url = driver2.find_elements_by_xpath("//div[@class = '_3etsg']//a")
for urls in olx_url:
    olx_urls.append(urls.get_attribute('href'))

In [258]:
#empty list of all the attributes
brand_olx = []                   #Brands of the car
model_olx = []                   #Models of the car
variant_olx = []                 #Variants of the car
kms_olx = []                      #driven kilometers of car
fuel_olx = []                     # Fuel type of the car
transmission_olx = []            #tranmission of the car
manufacture_year_olx = []         #manufacturing year of the car
owner_olx =[]          #number prior of owners
price_olx = []                    #price of the car
location_olx = []                 #location of the seller

In [416]:
#scrapping all the attributes

In [417]:
for link in olx_urls:
    driver2.get(link)
    time.sleep(1)
    
    
    #brand
    try:
        brand3 = driver2.find_element_by_xpath("//div[@class = '_3Mfu-']//div[2]")
        brand_olx.append(brand3.text)
    except NoSuchElementException:
        brand_olx.append('NaN')
        
    #variant
        
    try:
        variant3 = driver2.find_element_by_xpath("//div[@class = '_3Mfu-']//div[3]")
        variant_olx.append(variant3.text)
    except NoSuchElementException:
        variant_olx.append('NaN') 
        
        
    #model
        
    try:
        model3 = driver2.find_element_by_xpath("//div[@class = '_3Mfu-']//div[2]")
        model_olx.append(model3.text)
    except NoSuchElementException:
        model_olx.append('NaN') 
        
    
    #fuel type
        
    try:
        fuel3 = driver2.find_element_by_xpath("//div[@class = '_3Mfu-']//div[@class = 'aOxkz']//div[1]//div")
        fuel_olx.append(fuel3.text)
    except NoSuchElementException:
        fuel_olx.append('NaN') 
        
        
    #kilometers    
    
    try:
        kms3 = driver2.find_element_by_xpath("//div[@class = '_3Mfu-']//div[@class = 'aOxkz']//div[2]//div")
        kms_olx.append(kms3.text)
    except NoSuchElementException:
        kms_olx.append('NaN')
        
    
    #transmission

    try:
        transmission3 = driver2.find_element_by_xpath("//div[@class = '_3Mfu-']//div[@class = 'aOxkz']//div[3]//div")
        transmission_olx.append(transmission3.text)
    except NoSuchElementException:
        transmission_olx.append('NaN')  
        
        
    
    #owners
    
    
    try:
        owner3 = driver2.find_element_by_xpath("//div[@class = '_1l939']//div[1]//div[2]//div[2]")
        owner_olx.append(owner3.text)
    except NoSuchElementException:
        owner_olx.append('NaN')     
        
        
    #Price
        
    try:
        price3 = driver2.find_element_by_xpath("//div[@class = '_1Jl6c']//div[@class = '_31KwC']//div")
        price_olx.append(price3.text)
    except NoSuchElementException:
        price_olx.append('NaN')  
        
    #location
    
    try:
        location3 = driver2.find_element_by_xpath("//div[@class = '_1l939']//div[2]//div[2]//div[2]")
        location_olx.append(location3.text)
    except NoSuchElementException:
        location_olx.append('NaN')      
 

    #manufacture year

    try:
        year3 = driver2.find_element_by_xpath("//div[@class = '_3Mfu-']//div[2]")
        manufacture_year_olx.append(year3.text)
    except NoSuchElementException:
        manufacture_year_olx.append('NaN')

## combining all the attributes

In [286]:
#brands

brands.extend(brands24)
brands.extend(brand_olx)

In [287]:
#models
models.extend(models24)

models.extend(model_olx)

In [290]:
#variants
variants.extend(variants24)
variants.extend(variant_olx)

In [292]:
#kms
kms.extend(kms24)
kms.extend(kms_olx)

In [294]:
#fuel
fuel.extend(fuel24)
fuel.extend(fuel_olx)

In [298]:
#location
location24.extend(location_olx)

In [337]:
new_location.extend(location24)

In [299]:
#transimission
transimission.extend(transimission24)
transimission.extend(transmission_olx)

In [359]:
#manufacture_year
manufacture_year.extend(manufacture_year24)
manufacture_year.extend(manufacture_year_olx)

In [392]:
#number_of_owners
number_of_owners.extend(number_of_owners24)
number_of_owners.extend(owner_olx)

In [362]:
#price
price.extend(price24)
price.extend(price_olx)

In [400]:
Car_price = pd.DataFrame({"Brand" : brands , "Model" : models , "Variant" : variants , "Kilometers driven": kms , 
                          "Fuel type" : fuel , "Transmission" : transimission , "Location" : new_location ,
                         "Year of manufacturing" : manufacture_year , "Number of owners" : number_of_owners ,"Price" :price})

In [420]:
Car_price

,Brand,Model,Variant,Kilometers driven,Fuel type,Transmission,Location,Year of manufacturing,Number of owners,Price
0,2013 Maruti Alto K10,2013 Maruti Alto K10,VXI,"27,017 kms",Petrol,Manual,NaN,2013,1st Owner,"2,85,468"
1,2017 Honda City,2017 Honda City,i VTEC V,"14,815 kms",Petrol,Manual,NaN,2017,1st Owner,"8,14,432"
2,2016 Maruti Alto K10,2016 Maruti Alto K10,VXI,"32,053 kms",Petrol,Manual,NaN,2016,1st Owner,"3,02,208"
3,2015 Honda City,2015 Honda City,i VTEC CVT VX,"79,502 kms",Petrol,Automatic,NaN,2015,1st Owner,"6,90,772"
4,2018 Ford Ecosport,2018 Ford Ecosport,1.5 Ti VCT MT Ambiente BSIV,"30,953 kms",Petrol,Manual,NaN,2018,1st Owner,"7,43,820"
...,...,...,...,...,...,...,...,...,...,...
8773,2018 Maruti Swift,2018 Maruti Swift,ZXI Plus,"57,148 kms",Petrol,Manual,Mumbai,2018,First Owner,6.5 Lakh*
8774,2017 Hyundai Creta,2017 Hyundai Creta,1.6 VTVT AT SX Plus,"44,088 kms",Petrol,Automatic,Mumbai,2017,First Owner,11.35 Lakh*
8775,2016 BMW 3 Series,2016 BMW 3 Series,320d Sport,"39,400 kms",Diesel,Automatic,Mumbai,2016,First Owner,20.9 Lakh*
8776,2010 Tata New Safari,2010 Tata New Safari,DICOR 2.2 EX 4x2 BS IV,"70,000 kms",Diesel,Manual,Mumbai,2010,Second Owner,2.4 Lakh*
8777,2017 Hyundai Creta,2017 Hyundai Creta,1.6 VTVT AT SX Plus,"34,573 kms",Petrol,Automatic,Mumbai,2017,First Owner,11.35 Lakh*

In [421]:
Car_price.to_csv("Car_price_prediction_data.csv")